t
{% extends "base.html" %}

{% block title %}가든엑스 - 농산물 직거래 웹페이지{% endblock %}

{% block content %}

{% if item_form.errors %}
        <h2>문제가 발생했습니다:</h2>
        <ul>
            {% for field_name in item_form.errors %}
                {% for field_error in item_form.errors[field_name] %}
                    <li>{{ item_form[field_name].label }}: {{ field_error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}


            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                    <div class="col"></div>
                    <div class="col card top-buffer">
                        <h4 class="card-title top-buffer">상품 등록</h4>
                        <form class="top-buffer" action="" method="POST" enctype='multipart/form-data'>
                            {{ item_form.csrf_token }}
                          <div class="form-group">
                              {{ item_form.itemname.label }}{{ item_form.itemname(class_="form-control", placeholder="예) 가지, 홈메이드 쿠키..") }}
                          </div>

                          <div class="form-group">
                              {{ item_form.itemprice.label }}{{ item_form.itemprice(class_="form-control", placeholder="가격을 입력해주세요") }}
                          </div>

                          <div class="form-group">
                              {{ item_form.itemunit.label }}{{ item_form.itemunit(class_="form-control", placeholder="온스, 파운드 ...") }}
                          </div>

                          <div class="form-group">
                              {{ item_form.image.label }}{{ item_form.image(class_="form-control-file") }}
                          </div>
                            {{ item_form.submit(class="btn btn-primary btn-sm")}}
                        </form>
                    </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
{% endblock %}