{% extends "base.html" %}

{% block title %}가든엑스 - 농산물 직거래 웹페이지{% endblock %}

{% block userincludes %}
<link rel="stylesheet" href="/static/css/messaging.css">
{% endblock %}

{#
   Base of the page was found
   https://bootdey.com/snippets/view/chat-room#preview
#}

{% block content %}
<div class="container bootstrap snippet">
    <div class="row">
		<div class="col-md-4 bg-white ">
            <!-- =============================================================== -->
            <!-- member list -->
            <ul class="friend-list">
                <li>
                	<a href="#" class="clearfix">
                		<img src="/static/images/uploaded/nurk/profile.jpg" alt="" class="img-circle">
                		<div class="friend-name">
                			<strong>Dr. Thomas Nurkkala</strong>
                		</div>
                		<div class="last-message text-muted">안녕하세요? 반갑습니다.</div>
                		<small class="time text-muted">방금</small>
                		<small class="chat-alert label label-danger">1</small>
                	</a>
                </li>
                <li class="active bounceInDown">
                	<a href="#" class="clearfix">
                		<img src="/static/images/uploaded/MrPresident/profile.jpg" alt="" class="img-circle">
                		<div class="friend-name">
                			<strong>내 친구</strong>
                		</div>
                		<div class="last-message text-muted">큰 것으로 5개, 중간 크기가 7개 정도 있습니다. 큰 것은 1200원, 중간 크기는 900원 정도로 괜찮으세요? </div>
                		<small class="time text-muted">5분 전</small>
                	<small class="chat-alert text-muted"><i class="fa fa-check"></i></small>
                	</a>
                </li>
            </ul>
		</div>

        <!--=========================================================-->
        <!-- selected chat -->
    	<div class="col-md-8 bg-white ">
            <div class="chat-message">
                <ul class="chat">
                    <li class="right clearfix">
                    	<div class="chat-body clearfix">
                    		<div class="header">
                                <img src="/static/images/uploaded/MrPresident/profile.jpg" alt="User Avatar">
                    			<strong class="primary-font">내 친구</strong>
                    			<small class="pull-left text-muted"><i class="fa fa-clock-o"></i> 13분 전</small>
                    		</div>
                    		<p>
                    			안녕하세요, 토마토 아직 구매 가능한가요?
                    		</p>
                    	</div>
                    </li>
                    <li class="left clearfix">
                    	<div class="chat-body clearfix">
                    		<div class="header">
                                <img src="/static/images/uploaded/drwhite/profile.jpg" alt="User Avatar">
                    			<strong class="primary-font">나</strong>
                    			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12분 전</small>
                    		</div>
                    		<p>
                    			네. 얼마나 구매하시려고요?
                    		</p>
                    	</div>
                    </li>
                    <li class="right clearfix">
                    	<div class="chat-body clearfix">
                    		<div class="header">
                                <img src="/static/images/uploaded/MrPresident/profile.jpg" alt="User Avatar">
                    			<strong class="primary-font">내 친구</strong>
                    			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 10분 전</small>
                    		</div>
                    		<p>
                    			중간 크기 기준으로 5개 이상이면 좋겠네요.
                    		</p>
                    	</div>
                    </li>
                    <li class="left clearfix">
                    	<div class="chat-body clearfix">
                    		<div class="header">
                                <img src="/static/images/uploaded/drwhite/profile.jpg" alt="User Avatar">
                    			<strong class="primary-font">나</strong>
                    			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 9분 전</small>
                    		</div>
                    		<p>
                    			잠시만요.
                    		</p>
                    	</div>
                    </li>
                    <li class="right clearfix">
                    	<div class="chat-body clearfix">
                    		<div class="header">
                                <img src="/static/images/uploaded/MrPresident/profile.jpg" alt="User Avatar">
                    			<strong class="primary-font">내 친구</strong>
                    			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 8분 전</small>
                    		</div>
                    		<p>
                    			확인해 보셨나요?
                    		</p>
                    	</div>
                    </li>
                    <li class="left clearfix">
                    	<div class="chat-body clearfix">
                    		<div class="header">
                                <img src="/static/images/uploaded/drwhite/profile.jpg" alt="User Avatar">
                    			<strong class="primary-font">나</strong>
                    			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 6분 전</small>
                    		</div>
                    		<p>
                    			네. 오래 기다리시게 해서 죄송합니다.
                    		</p>
                    	</div>
                    </li>
                    <li class="left clearfix">
                    	<div class="chat-body clearfix">
                    		<div class="header">
                                <img src="/static/images/uploaded/drwhite/profile.jpg" alt="User Avatar">
                    			<strong class="primary-font">나</strong>
                    			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 5분 전</small>
                    		</div>
                    		<p>
                    			큰 것으로 5개, 중간 크기가 7개 정도 있습니다. 큰 것은 1200원, 중간 크기는 900원 정도로 괜찮으세요?
                    		</p>
                    	</div>
                    </li>
                </ul>
            </div>
            <div class="chat-box bg-white">
            	<div class="input-group">
            		<input class="form-control border no-shadow no-rounded" placeholder="Type your message here">
            		<span class="input-group-btn">
            			<button class="btn btn-success no-rounded" type="button">Send</button>
            		</span>
            	</div><!-- /input-group -->
            </div>
		</div>
	</div>
</div>
{% endblock %}
