
{% extends "base.html" %}

{% block title %}가든엑스 - 농산물 직거래 웹페이지{% endblock %}

{% block content %}

{% if register_form.errors %}
        <h2>비밀번호 양식이 옳지 않습니다.</h2>
        <ul>
            {% for field_name in register_form.errors %}
                {% for field_error in register_form.errors[field_name] %}
                    <li>{{ register_form[field_name].label }}: {{ field_error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}


<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col"></div>
            <div class="col card top-buffer">
                <h4 class="card-title top-buffer">회원가입해서 가든엑스를 체험해보세요!</h4>
                <form class="card-text top-buffer" action="" method="POST" enctype='multipart/form-data'>
                    {{ register_form.csrf_token }}
                    <div class="form-group">
                        {{ register_form.username.label }}
                        {{ register_form.username(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ register_form.emailaddress.label }}
                        {{ register_form.emailaddress(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ register_form.password.label }}
                        {{ register_form.password(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ register_form.passwordconfirmation.label }}
                        {{ register_form.passwordconfirmation(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ register_form.zipcode.label }}
                        {{ register_form.zipcode(class_='form-control') }}
                    </div>
        {{ register_form.submit(class_="btn btn-primary") }}
</form>
        </div>
            <div class="col"></div>
    </div>
</div>
{% endblock %}